.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 16px "Roboto" slab;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#select {
  border: 1px solid #999;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 300px;
  font-family: Arial, sans-serif;
  font-size: 11px;
}

#select:hover {
  background-color: #efefef;
}

#select > ul {
  display: none;
  list-style: none;
}

#select:hover > ul {
  display: block;
}

#select > ul ul {
  margin-left: 20px;
}

#select > ul a, #select > p {
  display: block;
  padding: 3px 8px 4px;
  color: #333;
  text-decoration: none;
}

#select > ul a:hover {
  background-color: #ddd;
}

#dropdown_link > text {

  color : steelblue

}

#tree_link > text {

  color : steelblue

}

.alert {
   width:100%;    
}
